[worldserver]

#
#    Skip Death Knight Starting Area
#        如果你想跳过死亡骑士的起始区域，请启用此项。
#        从58级的死亡骑士开始，并带有符文锻造。
#
#    Skip.Deathknight.Starter.Announce.enable
#         描述: 玩家登录时宣布模块。
#         默认值:    0 - (禁用)
#                     1 - (启用)
#

Skip.Deathknight.Starter.Announce.enable = 0

#
#    Skip.DeathKnight.Starter.Enable
#         对所有新账户启用模块，无论账户等级如何。创建死亡骑士时直接跳过起始区域。
#         默认值:    0 - (禁用)
#                     1 - (启用)
#

Skip.Deathknight.Starter.Enable = 1

#
#    GM.Skip.Deathknight.Starter.Enable
#         仅对GM账户等级的新账户启用模块。创建死亡骑士时直接跳过起始区域。
#         如果使用此配置，请确保 Skip.Deathknight.Starter.Enable 设置为 0。
#         默认值:    0 - (禁用)
#                     1 - (启用)
#

GM.Skip.Deathknight.Starter.Enable = 0

#
#    Skip.Deathknight.Start.Level
#         如果使用该模块，调整死亡骑士的起始等级。
#         默认值:    58 - (默认)
#
#

Skip.Deathknight.Start.Level = 58

#
#    Skip.Deathknight.Optional.Enable
#    在首次创建死亡骑士与巫妖王交谈时启用可选跳过。
#    默认值: 1 - (启用)
#

Skip.Deathknight.Optional.Enable = 1

#
#    DeleteGold.Deathknight.Optional.Enable
#    启用选项在跳过死亡骑士时删除所有任务奖励的金币。防止此作为一种剥削性的金币收入。
#    默认值: 1 - (启用)
#

DeleteGold.Deathknight.Optional.Enable = 1
